body {
    font-family: Arial, sans-serif;
    background-color: #062150;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1c0225;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
  }
  
  .shape {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .shape h2 {
    margin-top: 0;
  }
  
  .shape label {
    display: block;
    margin-bottom: 10px;
  }
  
  .shape input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .shape button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .shape button:hover {
    background-color: #555;
  }
  
  .shape p {
    margin-top: 10px;
    font-weight: bold;
  }

  .shape-image {
    width: 100px; 
    margin-bottom: 10px;
  }
